<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <input type="text" [(ngModel)]="filteredStatus">
      <hr>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter:filteredStatus:'status'"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name | shorten:5 }}</strong>
            <!--| shorten is a custom pipe created by us to trim the output to 10 characters--> 
          | {{ server.instanceType | uppercase | reverse }} 
            <!--| uppercase is a pipe operator to display output in upper case-->
          | {{ server.started | date:'fullDate' | uppercase}}
            <!--| date is a pipe operator to display properly formatted date-->
        </li>
      </ul>
    </div>
  </div>
</div>
